<nav class="bg-opacity-80 bg-white backdrop-blur-md">
    <div class="container ms-auto flex items-center justify-between p-4">
        <a routerLink="/" class="test-2x1 font-bold test-yellow-500">Logo</a>
        <div class="space-x-4">
            <a routerLink="/#" class="text-gray-900 hover:text-yellow-500">Home</a>
            <a routerLink="/#" class="text-gray-900 hover:text-yellow-500">About</a>
            <a routerLink="/auth/sign" class="text-gray-900 hover:text-yellow-500">Sign In</a>
            <a routerLink="/auth/login" class="text-gray-900 hover:text-yellow-500">Login</a>
        </div>
    </div>
</nav>